@model DetailsReservationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccommodationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasBreakfast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasBreakfast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasAllInclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasAllInclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>
@if (Model.Clients.Any())
{
    <div class="col-md-4">
        <h4>Clients</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Clients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div> <a asp-action="Index" class="btn btn-info">Back to List</a></div>

